<!DOCTYPE html>
<html>
<head>
  
<meta charset="UTF-8">
<link href="/css/style.css" rel="stylesheet" type="text/css">
<title>映画</title>

</head>
<body>
  
   <main class="main-container">
    <div class="left">
       <ul>
     <br>
     <br>
     <li><span id="maru">● </span>
         <span id="book"><a href="http://localhost:8080/ecsite/">トップ</a></span></li>
         <br>
     <li><span id="maru2">● </span>
         <span id="book"><a href="http://localhost:8080/ecsite/book/">ブック</a></span></li>
         <br>
     <li><span id="maru3">● </span>
         <span id="book"><a href="http://localhost:8080/ecsite/movie/">映画</a></span></li>
          <br>
     <li><span id="maru4">● </span>
         <span id="book"><a href ="http://localhost:8080/ecsite/admin/">管理人</a></span></li>
          
   </ul>
    </div>
    <div class="right2">

     名探偵コナン～100万ドルの五稜星(みちしるべ)～
     
    </div>
  </main>

</body>
</html>